/* General styles for the entire page */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Main application container */
.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Container for the table */
.table-container {
    width: 100%;
    max-width: 1200px; /* This ensures the table doesn't exceed the container */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    margin-top: 20px;
    border: 2px solid #ccc; /* Add a border around the entire table container */
    border-radius: 8px; /* Rounded corners for the table container */
}

/* Styling for buttons */
button, .filter-container select {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 0; /* Remove margin */
    transition: background-color 0.3s ease;
    line-height: normal; /* Ensures consistent line height */
    height: 40px; /* Ensures both elements have the same height */
}

button:hover, .filter-container select:hover {
    background-color: #0056b3;
}


/* Form styling within modal */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form input, form select, form button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

form input, form select {
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

/* Modal content padding */
.modal-content {
    padding: 20px;
}


/* Content container */
#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Title inside modal */
.modalTitle {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* General button styling */
.button {
    margin-left: 10px; /* Applies margin only to the left */
}

/* Container for filters and actions */
.actions-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Match the table's max-width */
    gap: 10px; /* Adds space between buttons */
}

/* Container for filter elements */
.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.actions-container select:hover {
    background-color: #0056b3;
}